*
{
	margin: 0;
	padding:0;
}
#index
{
	overflow:hidden;
}
body
{
	background-color: #483D6B;
}

header
{
	margin-bottom: 3em;
	background-color: #29ABE2;
	border-bottom: solid 3px black;
	padding: 1em;
}

nav
{
	margin-top: 20px;
}

h1
{
	font-family: 'arial';
	font-size: 3em;
	color: #C1FEE1;
}

div.container{
	border: 1px solid;
	margin: 20px;
	height: 500px;
	background-image:url(../images/image.jpg);
	background-size:100% 100%;
	background-repeat: no-repeat;
}

#lapinou
{
	width: 100px;
	heigh: 160px;
	margin-right: 20px;
}

#lapinou_div
{
	display:flex;
	flex-direction:column;
	justify-content:center;
}

#entete
{
	display:flex;
	justify-content:center;
}
#lune
{
	display:block;
	width:40em;
	margin-left:auto;
	margin-right:auto;
	border: solid 2px black;
}


a
{
	text-decoration:none;
	color:#C1FEE1;
	padding:3px;
	margin:3px;
	margin-left:0;
}
a:visited
{
	color:#C1FEE1;
}
a:hover
{
	color:#483D6B;
}

.presentation
{
	width: 70%;
	margin-left:auto;
	margin-right:auto;
	text-align:justify;
	border: solid 2px black;
	padding: 2em;
	background-color:#C1FEE1;
	margin-top: 3em;
	margin-bottom:3em;
}
.perso
{
	display:flex;
}
.perso div
{
        display:flex;
        flex-direction:column;
        justify-content:center;

}
#couple, #rebel
{
	width: 90px;
	height:162px;
	margin-right:20px;
}
