*
{
	margin: 0;
	padding:0;
}
div.container{
	border: 1px solid;
	margin: 0% 10% 0% 10%;
	height: 0;
	width: 80%;
	background-image:url(../images/ville.png);
	background-size:100% 100%;
	background-repeat: no-repeat;
	padding-top: 45%;
}

#lapinou
{
	width: 200px;
}
#entete
{
	display:flex;
	justify-content:center;
}

#dialog{
	background-color: grey;
	border: 1px solid;
	margin: 0% 10% 0% 10%;
	height: 60px;
	width: 80%;

}
