*
{
	margin: 0;
	padding:0;
}
body
{
	background-color: #483D6B;
}
h1
{
	font-family: 'arial';
	font-size: 3em;
}

div.container{
	border: 1px solid;
<<<<<<< HEAD
	margin: 20px;
	height: 500px;
	background-image:url(../images/image.jpg);
=======
	margin: 0% 10% 0% 10%;
	height: 0;
	width: 80%;
	background-image:url(../images/ville.png);
>>>>>>> a11b5c52c08b7ca84a3e23256519d4a20a8b51c3
	background-size:100% 100%;
	background-repeat: no-repeat;
	padding-top: 45%;
}

#lapinou
{
	width: 200px;
}

#lapinou_div
{
	display:flex;
	flex-direction:column;
	justify-content:center;
}

#entete
{
	display:flex;
	justify-content:center;
}
